@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

.inline{
    display: inline-block;
}

.background{
    color: #000!important;
    background-color: #ececec!important;
}

.progress4{
   
    color: #000!important;
    background-color: #388e3c!important;
    
}

.progress3{
    
    color: #000!important;
    background-color: #388e3c!important;
    
}

.progress2{
   
    color: #000!important;
    background-color: #ff9f00!important;
    animation: 1s ease-out 0s 1 slideInFromLeft;
}

.progress1{
    
    color: #000!important;
    background-color: #ff6161!important;
    animation: 1s ease-out 0s 1 slideInFromLeft;
}

li{
    padding-bottom: 3px;
}

.ratingCount{
    font-size: 12px;
    color: #878787;
    
}