

<div style="font-family:calibri" *ngIf="objRating">
  <div style="display:inline-block">
    <h2 style="font-size: 35px;
    font-weight: 500;
    text-align: center;
    position: relative;
    top: 12px;
    left: 10px;">{{objRating && objRating.average ? objRating.average : 'NA'}} &#9733;</h2>
    <h4 style="font-weight: 300;
    color: #878787;
    text-align: center;">{{objRating && objRating.totalRatings ? objRating.totalRatings :'NA'}} Ratings</h4>
    
    <h4 style="font-weight: 300;
    color: #878787;
    text-align: center;">{{objRating && objRating.totalReviews ? objRating.totalReviews: '0'}} Reviews</h4>
  </div>

  <div style="display:inline-block">
    <div>
      <ul style="list-style:none">
        <li>
          <div class="inline">
            <span class="inline">5</span>
            <div class="inline">&#9733;&nbsp;&nbsp;</div>
          </div>
          <div class="background inline" style="width:235px;height:5px">
            <div  [ngStyle]="{
              'width':objRating && objRating.five && objRating.five.percentage ? objRating.five.percentage+'%' : '0%' ,
              'height':'5px',
              'background-color': '#388e3c'
            }"></div>
          </div>
          <div class="inline">
            <span class="ratingCount">&nbsp;{{objRating && objRating.five && objRating.five.value  ? objRating.five.value: 0 }}</span>
          </div>
        </li>
        <li>
          <div class="inline">
            <span class="inline">4</span>
            <div class="inline">&#9733;&nbsp;&nbsp;</div>
          </div>
          <div class="background inline" style="width:235px;height:5px">
            <div  [ngStyle]="{
              'width':objRating && objRating.four && objRating.four.percentage ? objRating.four.percentage+'%' : '0%' ,
              'height':'5px',
              'background-color': '#4cb34f'
            }"></div>
          </div>
          <div class="inline">
            <span class="ratingCount">&nbsp;{{objRating && objRating.four && objRating.four.value  ? objRating.four.value: 0 }}</span>
          </div>
        </li>
        <li>
          <div class="inline">
            <span class="inline">3</span>
            <div class="inline">&#9733;&nbsp;&nbsp;</div>
          </div>
          <div class="background inline" style="width:235px;height:5px">
            <div  [ngStyle]="{
              'width':objRating && objRating.three && objRating.three.percentage ? objRating.three.percentage+'%' : '0%' ,
              'height':'5px',
             'background-color': '#7ed44c'
            }"></div>
          </div>
          <div class="inline">
            <span class="ratingCount">&nbsp;{{objRating && objRating.three && objRating.three.value  ? objRating.three.value: 0 }}</span>
          </div>
        </li>
        <li>
          <div class="inline">
            <span class="inline">2</span>
            <div class="inline">&#9733;&nbsp;&nbsp;</div>
          </div>
          <div class="background inline" style="width:235px;height:5px">
            <div  [ngStyle]="{
              'width':objRating && objRating.two && objRating.two.percentage ? objRating.two.percentage+'%' : '0%' ,
              'height':'5px',
              'background-color': '#ff9f00'
            }"></div>
          </div>
          <div class="inline">
            <span class="ratingCount">&nbsp;{{objRating && objRating.two && objRating.two.value  ? objRating.two.value: 0 }}</span>
          </div>
        </li>
        <li>
          <div class="inline">
            <span class="inline">1</span>
            <div class="inline">&#9733;&nbsp;&nbsp;</div>
          </div>
          <div class="background inline" style="width:235px;height:5px">
            <div  [ngStyle]="{
              'width':objRating && objRating.one && objRating.one.percentage ? objRating.one.percentage+'%' : '0%' ,
              'height':'5px',
              'background-color': '#ff6161'
            }"></div>
          </div>
          <div class="inline">
            <span class="ratingCount">&nbsp;{{objRating && objRating.one && objRating.one.value  ? objRating.one.value: 0 }}</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>