﻿<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>

<rating [Ratings]='objRating'></rating>

<alphapic [name]="'Ashik Ahmed'" [color]="'#C71585'"></alphapic>
<alphapic [name]="'Luke Roberts'" [color]="'dodgerblue'"></alphapic>
