  <div [ngStyle]="{
    'width': '50px',
    'height': '50px',
    'text-align': 'center',
    'background-color': color ? color:'orangered',
    'border-radius': '50%',
    'font-family': 'Calibri'
  }"
    *ngIf="name"
    cssStyler
  >

  <h1 style="font-size: 35px;
    color: white;
    font-weight: 300;
    text-transform: uppercase;" id="h1T">{{name | alphabety}}</h1>
  </div>


